/* GENERAL TAGS */
@import "../../less/App.less";



.header{
  grid-area: h;
  background-color: @background_dark;
  border-bottom: solid 2px @border_gray;
  border-radius:0 5px 0 5px ;
  &-logo{
    width: 3rem;
    height: 3rem;
  }
}