* {
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  width: 84%;
  margin-left: 8%;
  grid-template-areas: "h h" "s c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: h;
  background-color: green;
}
.header-logo {
  width: 3rem;
  height: 3rem;
  padding: 3px;
}
.sidebar {
  grid-area: s;
  background-color: green;
  padding: 1rem 0 0 1rem;
}
.sidebar-link {
  margin-bottom: 1.5rem;
}
.sidebar-link a {
  height: 1.5rem;
  color: white;
  text-decoration: none;
}
.sidebar-link:hover {
  background-color: #007600;
  border: solid 1px #006700;
}
.sidebar-link #settings {
  margin-top: 4rem;
}
.content {
  grid-area: c;
  background-color: bisque;
}
.content-img {
  width: 100%;
}
.content-profile {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #8a8555;
}
.content-profile-picture img {
  width: 15rem;
  height: 15rem;
}
.content-profile-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}
.content-profile-information p {
  display: inline-block;
}
.content-posts-btn {
  width: 8rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  cursor: pointer;
  float: right;
}
