/* GENERAL TAGS */
.wrapper {
  display: grid;
  width: 84%;
  margin-left: 8%;
  grid-template-areas: "h h" "s c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  background-color: #474747;
}
/* VARIABLES */
.content {
  grid-area: c;
  background-color: #242424;
}
.content-img {
  width: 100%;
}
.content-profile {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #5c5c5c;
  margin-bottom: 5rem;
}
.content-profile-picture {
  padding-left: 10px;
  padding-top: 5px;
}
.content-profile-picture img {
  width: 15rem;
  height: 15rem;
  border: solid 1px white;
}
.content-profile-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  color: #e6e6e6;
}
.content-profile-information p {
  display: inline-block;
}
.content-profile-information-site a {
  text-decoration: none;
}
.content-profile-information-site:hover a {
  text-decoration: underline;
}
.content-posts {
  color: #e6e6e6;
  padding: 0.5rem;
}
.content-posts textarea {
  background-color: #545454;
  resize: none;
  overflow: hidden;
}
.content-posts-btn {
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #242424;
  border: solid 1px #313131;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  float: right;
}
.content-posts-btn:hover {
  background-color: #3e3e3e;
  border: solid 1px #717171;
}
