/* GENERAL TAGS  */
* {
  box-sizing: border-box;
}
/*@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.eot');
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu-Medium.woff') format('woff'),
  url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
  url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}*/
html {
  width: 100%;
  background-color: #2b2b2b;
  background-size: cover;
}
.wrapper {
  display: grid;
  width: 84%;
  margin-left: 8%;
  background-color: #2b2b2b;
  grid-template-areas: "h h" "s c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.wrapper-content {
  grid-area: c;
}
/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #2b2b2b ;
}
body::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 10px;
}
.contact {
  display: flex;
  padding: 0.8rem;
  border: none;
  border-bottom: solid 1px #3e3e3e;
  background-color: #313131;
  width: 100%;
  text-decoration: none;
}
.contact:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}
.contact-active {
  background-color: #4a4a4a;
}
.contact-image {
  display: inline-block;
  background-image: url("../../../img/image.png");
  background-size: cover;
  border: 2px solid #0a2682;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  text-decoration: none;
}
.contact-info-name {
  text-decoration: inherit;
  display: inline-block;
  color: #e6e6e6;
  font-weight: 600;
}
.contact-info-message {
  text-decoration: none;
  display: inline-block;
  color: #999999;
}
.contact a {
  display: flex;
  width: 100%;
}
.contact a:link {
  text-decoration: none;
}
