*{
  box-sizing: border-box;
}
@background_dark: #242424;
@border_gray: #5c5c5c;
@text_color: darken(white, 10%);

.body{
  background-color: #2b2b2b;
}
.wrapper{
  display: grid;
  width: 84%;
  margin-left: 8%;
  background-color: #2b2b2b;
  grid-template-areas:
  "h h"
  "s c"
  "s p"
;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color:#2b2b2b ;
}

body::-webkit-scrollbar-thumb {
  background-color: lighten(#2b2b2b, 20%);
  border-radius: 10px;
}







/*

HEADER
.header{
  grid-area: h;
  background-color: @background_dark;
  border-bottom: solid 2px @border_gray;
  border-radius:0 5px 0 5px ;
  &-logo{
    width: 3rem;
    height: 3rem;
    padding: 3px;
  }
}





SIDEBAR
.sidebar{
  grid-area: s;
  background-color: @background_dark;
  padding:1rem 0 0 1rem;
  &-link{
    margin-bottom: 1.5rem;
    height: 2rem ;
    width: 80%;
    border-bottom: solid 1px @border_gray;
    border-radius: 5px;
    a{
      height: 1.5rem;
      color: white;
      padding-left: 1rem;
      text-decoration: none;
    }
    &:hover{
      background-color: lighten(@background_dark, 2%);
      border: solid 1px lighten(@border_gray, 30%);
    }
    #settings{
      margin-top: 4rem;
    }
    }
}





PROFILE
.content{
  grid-area: c;
  background-color: @background_dark;
  &-img{
    width: 100%;
  }
  &-profile{
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px @border_gray;
    margin-bottom: 5rem;
    &-picture{
      padding-left: 10px;
      padding-top: 5px;
      img{
        width: 15rem;
        height: 15rem;
        border: solid 1px white;
      }
    }
    &-information{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2rem;
      color: darken(white, 10%);
      p{display: inline-block;}
      &-site{
        a{text-decoration: none;}
        &:hover{
          a{text-decoration: underline;}
        }
      }
    }
  }
  &-posts{
    color: darken(white, 10%);
    padding:0.5rem;
    textarea{
      background-color: #545454;
      resize: none;
      overflow: hidden;
    }

    &-btn{
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
      background-color: @background_dark;
      border: solid 1px lighten(@background_dark, 5%);
      border-radius: 5px;
      color: white;
      cursor: pointer;
      float: right;
      &:hover{
        background-color: lighten(@background_dark, 10%);
        border: solid 1px lighten(@background_dark, 30%);
      }
    }
  }
}*/
