/* GENERAL TAGS */
* {
  box-sizing: border-box;
}
/*@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.eot');
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu-Medium.woff') format('woff'),
  url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
  url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}*/
html {
  width: 100%;
  background-color: #2b2b2b;
  background-size: cover;
}
.wrapper {
  display: grid;
  width: 84%;
  margin-left: 8%;
  background-color: #2b2b2b;
  grid-template-areas: "h h" "s c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.wrapper-content {
  grid-area: c;
}
/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #2b2b2b ;
}
body::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 10px;
}
.post {
  color: #999999;
  /*  border: @border_gray solid 1px;*/
  border-radius: 5px;
  margin: 5px 5px 1.5rem 5px;
  font-family: "Ubuntu", sans-serif;
}
.post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-top: #5c5c5c solid 1px;
  /*border-radius:5px 5px 0 0;*/
  transform: translateY(-5%);
}
.post-user-img {
  display: inline-block;
  background-image: url("../../../../img/image.png");
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  border: solid 3px #0a821e;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
}
.post-user-name {
  color: #e6e6e6;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  padding-left: 0.5rem;
  font-size: 17px;
}
.post-body {
  display: flex;
  flex-direction: column;
}
.post-body-content-text {
  margin: 0 0 1rem 3rem;
  font-size: 15px;
}
.post-body-options {
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
}
.post-body-options-like {
  margin: 0 0.5rem 0 3rem;
  display: inline-block;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../../../img/like.png");
  background-color: #242424;
  border: none;
}
.post-body-options-like:active {
  background-image: url("../../../../img/likeActive.png");
  width: 1.4rem;
  height: 1.4rem;
}
.post-body-options-comment {
  margin: 0 0.5rem 0 3rem;
  display: inline-block;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../../../img/comment.png");
}
.post-body-options-share {
  margin: 0 0.5rem 0 3rem;
  display: inline-block;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../../../img/share.png");
}
.post-body-stat span {
  color: #999999;
  margin: 0 0 0 3rem;
}
