/* GENERAL TAGS */
@import "../../../../less/App.less";
.options_adjust(){
  margin: 0 0.5rem 0 3rem;
  display: inline-block;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}

.post{
  color: @text_color;
/*  border: @border_gray solid 1px;*/
  border-radius: 5px;
  margin: 5px 5px 1.5rem 5px;
  .Ubuntu();
  &-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-top: @border_gray solid 1px ;
    /*border-radius:5px 5px 0 0;*/
    transform: translateY(-5%);
    &-img{
      display: inline-block;
      background-image: url("../../../../img/image.png");
      background-size: cover;
      width: 2.5rem;
      height: 2.5rem;
      border: solid 3px @border_green;
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
    }
    &-name{
      color: @bright_text_color;
      display: inline-block;
      text-align: center;
      line-height: 3rem;
      padding-left: 0.5rem;
      font-size: 17px;
    }
  }
  &-body{
    display: flex;
    flex-direction: column;
    &-content{
      &-text{
        margin: 0 0 1rem 3rem;
        font-size: 15px;
      }
    }
    &-options{
      display: inline-block;
      padding: 0 0.5rem 0 0.5rem;
      &-like {
        .options_adjust();
        background-image: url("../../../../img/like.png");
        background-color: @background_dark;
        border: none;
        &:active{
          background-image: url("../../../../img/likeActive.png");
          width: 1.4rem;
          height: 1.4rem;
        }

      }
      &-comment {
        .options_adjust();
        background-image: url("../../../../img/comment.png");
      }
      &-share {
        .options_adjust();
        background-image: url("../../../../img/share.png");
      }
    }
    &-stat span{
      color: @text_color;
      margin: 0 0 0 3rem;
    }
  }
}
